.easy-coder-menu {
  display: flex;
  &.mode-vertical {
    flex-direction: row;

    .arco-menu {
      height: 100%;
      overflow-y: auto;
      padding-bottom: 60px;
      .arco-menu-item,
      .arco-menu-inline-header {
        line-height: 1rem;
      }
    }

    .easy-coder-menu-content {
      height: 100%;
    }

    .easy-coder-menu-extra {
      bottom: 6px;
    }
  }
  &.mode-horizontal {
    flex-direction: column;

    .arco-menu {
      .arco-menu-pop {
        display: inline-block;
        align-items: center;
      }
    }

    .easy-coder-menu-extra {
      right: 0px;
    }
  }

  .arco-menu {
    .easy-coder-slot {
      line-height: 1rem;
      display: inline-block;
      &:empty {
        height: 1rem;
      }
    }
  }

  .easy-coder-menu-content {
    flex: 1;
    overflow: auto;
    box-sizing: border-box;
  }

  .arco-menu-item.easy-coder-menu-extra {
    position: absolute;
    color: inherit;
    cursor: default;
  }
}

.easy-coder-resize-x-trigger {
  position: relative;
  width: 3px;
  height: 100%;
  transform: translateX(-2px);

  &:hover {
    background-color: var(--color-fill-2);
    width: 5px;
    transform: translateX(-3px);
    &::after {
      content: ' ';
      display: inline-block;
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 2px;
      background-color: rgb(var(--primary-6));
    }
  }
}
